.content-1{
    background-color:#404eed;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 8rem;
    background-image: url('../images/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.content-1 .img-left{
    position: relative;
    left: 0;
}
.content-1 .right-left{
    position: relative;
    right: 0;
}
.text-content-1 h2{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
}
.text-content-1 p{
    margin: 0;
    font-size: 20px;
}
.btn-container{
    margin-top: 30px;
    
}
.btn-container button{
    margin-right: 30px;
    border-radius: 40px;
    border: 0;
    height: 3rem;
    font-size: 20px;
    padding: 10px 30px 10px;
    cursor: pointer;
}
.btn-container .right-btn{
    background-color: black;
    color: #fff;
}
.btn-container .left-btn:hover{
    color: rgb(64, 78, 237);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.btn-container .right-btn:hover{
    background-color: #36393f ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) ;
}

.content-2,.content-4{
    display: flex;
    justify-content: center;
    margin: 5rem 3rem 5rem;
    align-items: center;
    padding: 0 3rem 0;
}

.content-2 img,.content-4 img{
    width: 45%;
}
.text-content-2,.text-content-4{
    width: 30%;
    padding:0 5rem 0;
}
.text-content-2 h2,.text-content-4 h2{
    font-size: 65px;
    font-weight: bolder;
    margin-top: 0;
    line-height: 1.12;
}
.text-content-2 p,.text-content-4 p{
    font-size: 20px;
}
.content-3{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    align-items: center;
    padding: 5rem 6rem 5rem;
}
.text-content-3{
    width: 30%;
    padding:0 5rem 0;
}
.text-content-3 h2{
    font-size: 65px;
    font-weight: bolder;
    margin-top: 0;
    line-height: 1.12;
}
.text-content-3 p{
    font-size: 20px;
}
.content-3 img{
    width: 45%;
}
.text-content-4 h2{
    line-height: 1.12;
}
.content-5{
    background-color:  #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-content-5{
    margin-top: 50px;
    text-align: center;
}
.text-content-5 h2{
    font-size: 50px;
    margin-bottom: 50px;
}
.text-content-5 p{
    margin: 0 ;
    font-size: 20px;
}
.content-5 img{
    width: 50%;
}
.content-5 .btn-content-5{
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}
.content-5 .btn-content-5 img{
    top: 0;
    width: 100%;
    
}

.btn-content-5 h2{
    font-size: 40px;
    margin-top: 0;
}

.btn-content-5 button{
    border-radius: 40px;
    border: 0;
    font-size: 20px;
    padding: 10px 30px 10px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(64, 78, 237);
}
.btn-content-5 button:hover{
    background-color: rgb(121, 131, 245);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) ;
}
/* for ipad */
@media screen and (max-width:820px) {
    .content-1 {
        min-height: 626px;
    }
    .content-1 .img-left{
        display: none;
    }
    .content-1 .img-right{
        position: relative;
        width: 60%;
        bottom: -100px;
    }
    .text-content-1{
        margin-left: 40px;
        text-align: left;
    }
    .text-content-1 h2{
        font-size: 50px;
        line-height: 1.1;
        margin-bottom: 10px;
    }
    .text-content-1 p{
        font-size: 16px;
    }
    .content-1 .btn-container{
        flex-direction: column;
        width: 100%;
        font-size: 15px;
    }
    .content-1 .btn-container .left-btn{
        width: inherit;
    }
    .content-1 .btn-container .right-btn{
        margin-top: 20px;
        width: inherit;
        height: auto;
    }
    .content-2{
        width: 100%; 
        margin: 50px 0 50px;
        padding: 0 30px 0;
    }
    .content-2 img{
        width: 50%;
    }
    .content-2 .text-content-2{
        width: 50%;
        padding: 0;
    }
    .text-content-2 h2{
        font-size: 50px;
        line-height: 1.12;
    }
    .text-content-2 p{
        font-size: 16px;
    }
    .content-3{
        width: 100%;
        padding: 50px 30px 50px;
        
    }
    .content-3 img{
        width: 50%;
    }
    .content-3 .text-content-3{
        width: 50%;
        padding: 0;
    }
    .text-content-3 h2{
        font-size: 50px;
        line-height: 1.12;
    }
    .content-4{
        width: 100%; 
        margin: 50px 0 50px;
        padding: 0 30px 0;
    }
    .content-4 img{
        width: 50%;
    }
    .content-4 .text-content-4{
        width: 50%;
        padding: 0;
    }
    .text-content-4 h2{
        font-size: 50px;
        line-height: 1.12;
    }
    .text-content-4 p{
        font-size: 16px;
    }
    .text-content-5{
        width: 100%;
 
    }
    .text-content-5 h2{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .text-content-5 p{
        margin: 0 30px 0;
    }
}
/* for mobile */
@media screen and (max-width:375px) {
    .content-1{
        position: relative;
        min-height: 626px;
    
    }
    .text-content-1{
        margin-left: 20px;
    }
    .text-content-1 h2{
        font-size: 30px;
    }
    .text-content-1 p{
        font-size: 20px;
    }
    .content-1 .img-right{
        display: none;
    }
    .content-1 .img-left{
        width: 80%;
        display: flex;
        position: absolute;
        bottom: 0;
        left: -50px;
    }
    .text-content-1 .btn-container{
        width: inherit;
        padding-bottom: 200px;
    }
    .content-2{
        display: flex;
        flex-direction: column;
    }
    .content-2 img{
        width: 100%;
    }
    .content-2 .text-content-2{
        width: 100%;
    }
    .text-content-2 h2{
        font-size: 20px;

    }
    .text-content-2 p{
        font-size: 14px;
    }
    .content-3{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 100%;
    }
    .content-3 .text-content-3{
        width: 100%;
    }
    .content-3 img{
        width: 100%;
    }
    .text-content-3 h2{
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
    }
    .text-content-3 p{
        font-size: 14px;
    }
    .content-4{
        display: flex;
        flex-direction: column;
    }
    .content-4 img{
        width: 100%;
    }
    .content-4 .text-content-4{
        margin-top: 20px;
        width: 100%;
    }
    .text-content-4 h2{
        font-size: 20px;
    }
    .text-content-4 p{
        font-size: 14px;
    }
    .text-content-5 h2{
        padding: 0 20px 0;
        font-size: 25px;
        text-align: left;
    }
    .text-content-5 p{
        font-size: 20px;
        text-align: left;
        margin: 0 20px 0;
    }
    .content-5 img{
        width: 100%;
        padding: 0 20px 0;
    }
    .content-5 .btn-content-5{
        text-align: left;
        margin: 0 0 60px 20px ;
        
    }
    .content-5 .btn-content-5 img{
        padding: 0;
    }
    .content-5 .btn-content-5 h2{
        line-height: 1.12;
    }
    .content-5 .btn-content-5 button{
        width: 90%;
    }
}